body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14213D;
    font-family: Arial, sans-serif;
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 26vw;
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 24px;
    margin-bottom: 32px;
}

form h2 {
    margin-bottom: 5px;
    color: #14213D;
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
}

form label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
}

form input {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
    height: 20px;
    border-radius: 8px;
    padding: 16px 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: none;
    width: 95%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.checkbox-container input[type="checkbox"] {
    width: 30px;
    height: auto;
    box-shadow: none;
    margin: 15px 3px 11px 10px;
}

.checkbox-container label {
    margin-right: 15px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #14213D;
}

.checkbox-container a {
    color: #FCA311;
    text-decoration: none;
}

.checkbox-container a:hover {
    text-decoration: underline;
}


